<p id="notice"><%= notice %></p>

<h1>Listing Street Foods</h1>

<div class = "jumbotron">
  <h2>ReviewApp is the best way to know real reviews, from foodies like you.</h2>
  <h4>Explore the favourite diners, pastery shops, Dhabas, Food Stalls and eateries in your areas.<br>
  Leave reviews about any place you visited, to help your friends over chossing the place to eat.</h4>
</div>

<div class="center">
  <div class="row">
  <% @street_foods.each do |street_food| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(street_food.streetfoods.url), street_food %>
          <div class="caption">
            <h3><%= link_to street_food.name.capitalize, street_food %></h3>
            <p><%= street_food.address.capitalize %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
<%= link_to 'Can\'t find the place you visited? You can add it here Add Street Foods', new_street_food_path, class: "btn btn-link" %>
<%= image_tag "http://review1.blob.core.windows.net/imagebucket/sketch.jpg" %>

<% end %>
